@import '../../../../../styles/vars';

.car_description {
  padding: $step * 2;
  display: flex;
  flex-direction: column;

  label {
    color: $gray;
    margin-bottom: $step;
  }

  textarea {
    font-size: 1em;
    box-sizing: border-box;
    min-height: $step * 15;
    resize: none;
    outline: none;
    border: 1px solid $separator-color;
    border-radius: $small-radius;
    padding: $step;
    flex: 1;

    &::-webkit-scrollbar {
      width: $step;
      height: $step;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $gray-light;
    }

    &:hover::-webkit-scrollbar-thumb {
      background-color: $gray;
    }
  }
}