@import '../../../../../styles/vars';

.car_card_description {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  &__name {
    font-size: 1.5em;
    padding-bottom: 2px;
    border-bottom: 1px dashed $separator-color;
  }

  > div {
    margin-top: $step;
  }

  &__number {
    display: inline-block;
    padding: 4px 10px;
    border: 1px solid $black;
    border-radius: 2px;
    box-shadow: $main-shadow;
    align-self: flex-start;
  }

  &__tank_indicator {
    margin-top: $step * 0.5;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 4px inset $gray;

    div {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: $blue;
      border-radius: 5px;
    }
  }

  &__normal_text {
    color: $gray;
  }

  &__strong_text {
    color: $black;
  }

  &__normal_text, &__strong_text, &__number {
    font-size: 0.8em;
  }
}

@media (min-width: $tablet-start) and (max-width: $tablet-end) {
  .car_card_description {
    &__name {
      font-size: 1.8em;
    }

    &__normal_text, &__strong_text, &__number {
      font-size: 0.9em;
    }
  }
}

@media (min-width: $desktop-min-start) {
  .car_card_description {
    &__name {
      font-size: 2.1em;
    }

    &__normal_text, &__strong_text, &__number {
      font-size: 1em;
    }

    &__tank_indicator {
      width: $step * 50;
    }
  }
}