@import '../../../styles/vars';
@import '../../../styles/common_presets';

.controlled_password_field {
  display: flex;
  flex-direction: column;

  &__error_text {
    color: $red;
    margin-left: $step * 2;
    font-size: 0.8em;
  }
}