@import '../../../styles/vars';

.password_field {
  display: flex;
  flex-direction: column;
  position: relative;

  input {
    padding: $step 2.5em $step ($step * 2);
  }

  svg {
    width: 1.8em;
    height: 1.8em;
    position: absolute;
    right: 5px;
    top: calc(50% - 5px);
    cursor: pointer;

    path {
      fill: $gray;
    }

    &:hover path {
      fill: $blue;
    }
  }

  &__error_text {
    color: $red;
    margin-left: $step * 2;
    font-size: 0.8em;
  }
}