@import '../../../styles/vars';
@import '../Notification/Notification';
@import '../UserPane/UserPane';

.admin_header {
  height: $step * 6;
  padding-left: $step * 6;
  background-color: $white;
  box-shadow: $main-shadow;
  display: flex;
  align-items: center;
  transition: all 200ms;

  .notification {
    align-self: stretch;
    margin-left: auto;
  }

  .user_pane {
    align-self: stretch;
  }
}

@media (min-width: $tablet-start) {
  .admin_header {
    height: $step * 8;
    padding-left: 0;
  }
}