@import '../styles/vars';

.admin_content {
  position: relative;
  margin-left: 0;
  transition: all 200ms;
}

@media (min-width: $tablet-start) and (max-width: $tablet-end) {
  .admin_content {
    margin-left: $step * 25;
  }
}

@media (min-width: $desktop-start) {
  .admin_content {
    margin-left: $step * 30;
  }
}