@import '../styles/vars';

.search_field {
  display: none;
  align-items: center;
  padding-left: $step * 2;

  svg {
    cursor: pointer;
    width: 1.7em;
    height: 1.7em;

    path {
      fill: $gray;
      transition: all 200ms;
    }

    &:hover path {
      fill: $blue;
    }
  }

  svg:last-child {
    transform: scale(0.7);
  }

  &__search_value {
    padding: $step ($step * 2);
    outline: none;
    border: none;
    font-size: 1em;
  }
}

@media (min-width: $tablet-start) {
  .search_field {
    display: flex;
  }
}