@import './vars';

// Стили для обычных кнопок
.button {
  border: none;
  border-radius: $small-radius;
  color: $white;
  cursor: pointer;
  font-size: 1em;
  padding: $step ($step * 5);
}

.button_blue {
  background-color: $blue;

  &:hover {
    background-color: $blue-light;
  }

  &:active {
    background-color: $blue-high-light;
  }
}

.button_green {
  background-color: $green;

  &:hover {
    background-color: $green-light;
  }

  &:active {
    background-color: $green-high-light;
  }
}

.button_red {
  background-color: $red;

  &:hover {
    background-color: $red-light;
  }

  &:active {
    background-color: $red-high-light;
  }
}

// Стили для "тонких" кнопок
.thin_button {
  position: relative;
  background-color: white;
  outline: none;
  border: 1px solid $gray-light;
  border-radius: 4px;
  padding: 7px 15px 7px 20px;
  cursor: pointer;

  &:hover {
    color: $blue;
  }
}

.thin_button_edit {
  &::after {
    content: '';
    background-image: url("../content/images/edit_icon.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% + 3px);
    left: 10px;
    transform: translateY(-50%);
    width: 1em;
    height: 1em;
  }
}