@import './vars';

// Пресет для блоков с контентом
@mixin content_mixin {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: $step * 2;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray-light;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: $gray;
  }

  &__caption {
    font-size: 1.5em;
    margin-bottom: $step * 2;

    @media (min-width: $tablet-start) {
      font-size: 2.5em;
      margin-bottom: $step * 4;
    }
  }

  &__content {
    box-shadow: $main-shadow;
    background-color: $white;
    border-radius: $main-radius;
  }

  .order_card + .order_card {
    border-top: 1px solid $separator-color;
  }
}

// Пресет для форм (логин, регистрация и т.п.)
.form {
  background: $white;
  box-shadow: $main-shadow;
  border-radius: $main-radius;
  margin: ($step * 4) auto 0;
  max-width: $step * 60;
  padding: $step * 2;
}

// Стили для полей ввода
.text_input {
  width: 100%;
  outline: none;
  border: 1px solid $gray-light;
  border-radius: $small-radius;
  font-size: 1em;
  padding: $step ($step * 2);
}

.text_input_error {
  border: 0.5px solid $red;
  box-shadow: $error_shadow;
}

// Стили для обычных кнопок
.button {
  border: none;
  border-radius: $small-radius;
  color: $white;
  cursor: pointer;
  font-size: 1em;
  padding: $step ($step * 5);
}

.button_blue {
  background-color: $blue;

  &:hover {
    background-color: $blue-light;
  }

  &:active {
    background-color: $blue-high-light;
  }
}

.button_green {
  background-color: $green;

  &:hover {
    background-color: $green-light;
  }

  &:active {
    background-color: $green-high-light;
  }
}

.button_red {
  background-color: $red;

  &:hover {
    background-color: $red-light;
  }

  &:active {
    background-color: $red-high-light;
  }
}

// Стили для "тонких" кнопок
.thin_button {
  position: relative;
  background-color: white;
  outline: none;
  border: 1px solid $gray-light;
  border-radius: 4px;
  padding: 7px 15px 7px 20px;
  cursor: pointer;

  &:hover {
    color: $blue;
  }
}

.thin_button_edit {
  &::after {
    content: '';
    background-image: url("../content/images/edit_icon.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% + 3px);
    left: 10px;
    transform: translateY(-50%);
    width: 1em;
    height: 1em;
  }
}