@import '../../styles/vars';

.brand_stamp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.large_stamp {
  svg {
    width: 3em;
    height: 3em;
  }

  h1 {
    font-size: 2em;
    margin-left: $step * 2;
  }
}

.small_stamp {
  svg {
    width: 2em;
    height: 2em;
  }

  h1 {
    font-size: 1.2em;
    margin-left: $step;
  }
}