@import '../../../../../styles/vars';
@import '../../../../common/Selector/Selector';

.place_block {
  display: flex;
  flex-direction: column;

  .selector {
    width: 100%;
  }

  .selector + .selector {
    margin: ($step * 2) 0 0 0;
  }
}

@media (min-width: $tablet-start) and (max-width: $tablet-end) {
  .place_block {
    .selector {
      width: 12em;
    }
  }
}

@media (min-width: $desktop-min-start) and (max-width: $desktop-min-end) {
  .place_block {
    .selector {
      width: 13em;
    }
  }
}

@media (min-width: $desktop-start) {
  .place_block {
    .selector {
      width: 15em;
    }
  }
}

@media (min-width: $tablet-start) {
  .place_block {
    flex-direction: row;

    .selector + .selector {
      margin: 0 0 0 ($step * 2);
    }
  }
}
