@import '../styles/vars';

.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: $step * 6;
  width: $step * 6;
  background-color: $white;
  box-shadow: none;
  overflow: hidden;
  transition: all 300ms;

  &__header {
    height: $step * 8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: $tablet-start) and (max-width: $tablet-end) {
  .menu {
    height: 100%;
    width: $step * 25;
    box-shadow: $main-shadow;
  }
}

@media (min-width: $desktop-start) {
  .menu {
    height: 100%;
    width: $step * 30;
    box-shadow: $main-shadow;
  }
}