@import '../styles/vars';

.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $step * 25;
  background-color: $white;
  box-shadow: $main-shadow;

  &__header {
    height: $step * 8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}