@import '../styles/vars';

.login {
  padding: $step;

  &__logo_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: ($step * 20) auto 0;
  }

  &__logo_caption {
    font-size: 2em;
    margin-left: $step * 2;
  }

  &__form_block {
    padding: $step * 2;
    background: $white;
    box-shadow: $main-shadow;
    border-radius: $main-radius;
    margin: ($step * 4) auto 0;
    max-width: $step * 60;
  }

  &__form_caption {
    font-size: 1.5em;
    margin-top: $step;
    margin-bottom: $step * 6;
    text-align: center;
  }
}