@import '../styles/vars';
@import '../styles/common_presets';
@import '../common_components/BrandStamp/BrandStamp';
@import '../common_components/TextField/TextField';

.login {
  padding: $step * 2;

  .brand_stamp {
    margin: $step * 4 auto 0;
    max-width: $step * 60;
  }

  .text_field + .text_field {
    margin-top: $step * 4;
  }

  &__form_block {
    padding: $step * 2;
    background: $white;
    box-shadow: $main-shadow;
    border-radius: $main-radius;
    margin: ($step * 4) auto 0;
    max-width: $step * 60;
  }

  &__form_caption {
    font-size: 1.5em;
    margin-top: $step;
    margin-bottom: $step * 4;
    text-align: center;
  }

  &__control_block {
    margin-top: $step * 4;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
      color: $blue;
    }
  }
}

@media (min-width: $tablet-start) and (max-width: $tablet-end) {
  .login {
    .brand_stamp {
      margin: $step * 8 auto 0;
    }
  }
}

@media (min-width: $desktop-min-start) {
  .login {
    .brand_stamp {
      margin: $step * 16 auto 0;
    }
  }
}