@import '../../../../styles/vars';

.order_card_photo {

  &__image {
    width: 100%;
    display: block;
    object-fit: contain;
  }

  &__error {
    height: $step * 24;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gray;
    border: 1px solid $separator-color;
    border-radius: $small-radius;
  }
}