@import '../../../styles/vars';
@import '../../../styles/common_presets';

.router_cap {
  @include content_mixin;


  &__content {
    padding: $step * 6;
    align-self: center;
    max-width: $step * 60;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__main_caption {
    margin-bottom: $step * 3;
    text-align: center;
  }
}