@import '../../../../../styles/vars';
@import '../../../../../styles/common_presets';

.car {
  @include content_mixin;

  &__content_wrapper {
    display: flex;
    flex-direction: column;
  }

  &__content {
    padding: $step * 2;
  }

  &__content + &__content {
    margin: ($step * 2) 0 0 0;
  }

  &__first_content_block {
    width: 100%;
  }

  &__second_content_block {
    width: 100%;
  }

  &__control_block {
    margin-top: $step * 6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .button + .button {
      margin-top: $step;
    }
  }
}

@media (min-width: $tablet-start) {
  .car {
    &__control_block {
      flex-direction: row;
      margin-top: $step * 16;

      .button + .button {
        margin-top: 0;
      }

      .button:nth-child(2) {
        margin-left: $step;
      }

      .button:nth-child(3) {
        margin-left: auto;
      }
    }
  }
}

@media (min-width: $desktop-start) {
  .car {
    &__content_wrapper {
      flex-direction: row;
    }

    &__content + &__content {
      margin: 0 0 0 ($step * 2);
    }

    &__first_content_block {
      width: $step * 45;
    }

    &__second_content_block {
      flex: 1;
    }
  }
}