@import '../../../../../styles/vars';
@import '../../../../../styles/common_presets';
@import '../../../../common/TextField/TextField';
@import '../../../../common/Selector/Selector';

.car_filters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: $step * 2;
  border-bottom: 1px solid $separator-color;

  &__conditions, &__control {
    display: flex;
    flex-direction: column;
  }

  &__control {
    margin: $step 0 0 0;
  }

  .button + .button, .text_field + .text_field, .selector + .text_field, .text_field + .selector {
    margin: $step 0 0 0;
  }
}