@import '../../../../../styles/vars';
@import '../../../../../styles/common_presets';
@import '../PlaceBlock/PlaceBlock';

.order {
  @include content_mixin;

  .place_block {
    margin-top: $step * 4;
  }

  &__caption {
    font-size: 1.2em;
  }

  &__no_order_id {
    padding: $step * 6;
    align-self: center;
    max-width: $step * 60;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    h1 {
      margin-bottom: $step * 3;
      text-align: center;
    }
  }

  &__content {
    padding: $step * 2;
  }

  &__control_block {
    margin-top: $step * 6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: $step * 2;
    border-top: 1px dashed $separator-color;

    .button + .button {
      margin-top: $step;
    }
  }
}

@media (min-width: $tablet-start) {
  .order {
    &__caption {
      font-size: 2.5em;
    }

    &__control_block {
      flex-direction: row;
      margin-top: $step * 16;

      .button {
        width: 12em;
      }

      .button + .button {
        margin-top: 0;
      }

      .button:nth-child(2) {
        margin-left: $step;
      }

      .button:nth-child(3) {
        margin-left: auto;
      }
    }
  }
}

