@import '../../../../../styles/vars';
@import '../../../../../styles/common_presets';
@import '../../../../common/EditorControlBlock/EditorControlBlock';

.order {
  @include content_mixin;

  .editor_control_block {
    margin-top: $step * 8;
  }

  &__content {
    padding: $step * 2;
    max-width: $step * 110;
  }

  &__caption {
    font-size: 1.2em;
  }
}

@media (min-width: $tablet-start) {
  .order {
    .editor_control_block {
      margin-top: $step * 12;
    }

    &__caption {
      font-size: 2.5em;
    }
  }
}