@import '../../../../../styles/vars';
@import '../../../../../styles/common_presets';
@import '../../../../common/EditorControlBlock/EditorControlBlock';
@import '../PlaceBlock/PlaceBlock';
@import '../RateBlock/RateBlock';
@import '../OptionBlock/OptionBlock';
@import '../DateBlock/DateBlock';
@import '../PriceBlock/PriceBlock';
@import '../CarBlock/CarBlock';

.order {
  @include content_mixin;

  .place_block, .rate_block, .option_block, .date_block, .price_block, .car_block {
    margin-top: $step * 4;
  }

  .editor_control_block {
    margin-top: $step * 8;
  }

  &__content {
    padding: $step * 2;
    max-width: $step * 110;
  }

  &__caption {
    font-size: 1.2em;
  }
}

@media (min-width: $tablet-start) {
  .order {
    .editor_control_block {
      margin-top: $step * 12;
    }

    &__caption {
      font-size: 2.5em;
    }
  }
}