@import '../../../../../styles/vars';

.order_card_photo {

  &__image {
    object-fit: contain;
    display: block;
    width: 100%;
  }

  &__error {
    height: $step * 24;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gray;
    border: 1px solid $separator-color;
    border-radius: $small-radius;
  }
}