@import '../../../../styles/vars';

.order_card_extra {
  font-size: 0.9em;

  div + div {
    margin-top: $step;
  }

  &__normal_text {
    color: $gray;
  }

  &__strong_text {
    color: $black;
  }
}