@import '../../styles/vars';

.selector {
  appearance: none;
  position: relative;
  border: 1px solid $gray-light;
  border-radius: $small-radius;
  background-color: blue;
  padding: $step ($step * 2);
  outline: none;
  color: $gray;
  background-image: url('../../content/images/checked.svg');
  background-repeat: no-repeat;
  background-position: right center;

  option {
    font-size: 1em;
    color: $gray;
  }
}