@import '../../../../styles/vars';
@import '../OrderCardPhoto/OrderCardPhoto';
@import '../OrderCardExtra/OrderCardExtra';
@import '../OrderCardOptions/OrderCardOptions';
@import '../OrderCardPrice/OrderCardPrice';
@import '../OrderControlBlock/OrderControlBlock';

.order_card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: $step * 2;

  .order_card_photo {
    width: 20%;
  }

  .order_card_extra {
    margin-left: $step * 4;
    width: 40%;
  }

  .order_card_options {
    width: 15%;
  }

  .order_card_price {
    width: 15%;
  }

  .order_control_block {
    width: 10%;
  }
}