@import '../../../../../styles/vars';
@import '../../../../common/CheckBox/CheckBox';

.order_card_options {
  display: flex;
  flex-direction: column;

  .check_box + .check_box {
    margin-top: $step;
  }
}