@import '../../../styles/vars';
@import '../OrderCardPhoto/OrderCardPhoto';
@import '../OrderCardExtra/OrderCardExtra';

.order_card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: $step * 2;

  .order_card_photo {
    width: 20%;
  }

  .order_card_extra {
    margin-left: $step * 4;
    width: 25%;
  }
}