@import '../styles/vars';

.user_pane {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: $step * 2;
  padding-right: $step * 2;

  &__photo {
    width: $step * 5;
    height: $step * 5;
    object-fit: cover;
    border-radius: 50%;
    margin-right: $step * 2;
    cursor: pointer;
  }

  &__name {
    cursor: pointer;
  }

  svg {
    margin-left: $step * 6;
    width: 0.8em;
    height: 0.8em;
    cursor: pointer;

    polygon {
      transition: all 200ms;
      fill: $gray-light;
    }

    &:hover polygon {
      fill: $blue;
    }
  }

  &__popup {
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    width: 100%;
    background-color: $white;
    cursor: pointer;
    display: none;
    transition: all 2000ms;
    box-shadow: $main-shadow;
    z-index: 10;

    a {
      display: block;
      padding: $step * 2 0;
      text-decoration: none;
      text-align: center;
    }

    &:hover {
      a {
        color: $blue;
      }
    }
  }
}

.visible_popup {
  display: block;
}

@media (min-width: $tablet-start) {
  .user_pane {
    padding-left: $step * 3;
    padding-right: $step * 3;

    &__photo {
      width: $step * 6;
      height: $step * 6;
    }

    &__popup {
      a {
        padding: $step * 3 0;
      }
    }
  }
}