@import '../../styles/vars';

.paginator {
  padding: $step * 2;
  border-top: 1px solid $separator-color;
  display: flex;
  justify-content: center;
  align-items: center;

  a + a, span + a, a + span {
    margin-left: $step;
  }

  a {
    text-decoration: none;
    color: $blue;
    font-size: 1.2em;
  }

  span {
    font-size: 1.2em;
    background-color: $blue;
    color: white;
    padding: 0 8px;
    border-radius: 15px;
  }
}