@import '../../../../../styles/vars';
@import '../../../../common/ListElementControl/ListElementControl';

.car_card_extra {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  .list_element_control {
    margin-top: $step * 2;
  }

  &__name {
    font-size: 1.5em;
    padding-bottom: $step;
    border-bottom: 1px dashed $separator-color;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-top: $step * 2;

    article {
      display: flex;
      flex-direction: column;
    }

    article + article {
      margin-top: $step;
    }
  }

  &__number {
    display: inline-block;
    padding: 4px 10px;
    border: 1px solid $black;
    border-radius: 2px;
    box-shadow: $main-shadow;
    align-self: flex-start;
    margin-bottom: $step;
  }

  &__normal_text {
    color: $gray;
  }

  &__strong_text {
    color: $black;
  }

  &__normal_text, &__strong_text, &__number {
    font-size: 0.8em;
  }
}

@media (min-width: $tablet-start) and (max-width: $tablet-end) {
  .car_card_extra {
    &__name {
      font-size: 1.8em;
    }

    &__normal_text, &__strong_text, &__number {
      font-size: 0.9em;
    }
  }
}

@media (min-width: $desktop-min-start) {
  .car_card_extra {
    &__name {
      font-size: 2.1em;
    }

    &__normal_text, &__strong_text, &__number {
      font-size: 1em;
    }

    .list_element_control {
      margin-top: 0;
    }

    &__content {
      flex-direction: row;

      article {
        display: block;
      }

      article + article {
        margin-top: 0;
      }

      section {
        flex: 1;
      }
    }
  }
}