@import '../styles/vars';

.admin_header {
  height: $step * 6;
  margin-left: 0;
  padding-left: $step * 6;
  background-color: $white;
  box-shadow: $main-shadow;
  transition: all 300ms;
}

@media (min-width: $tablet-start) and (max-width: $tablet-end) {
  .admin_header {
    height: $step * 8;
    margin-left: $step * 25;
    padding-left: 0;
  }
}

@media (min-width: $desktop-start) {
  .admin_header {
    height: $step * 8;
    margin-left: $step * 30;
    padding-left: 0;
  }
}